.image{
  width: 200px;
  height: 200px;
  border-radius: 50%; /*don't forget prefixes*/
  background-image: url("path/to/image");
  background-position: center center;
  /* as mentioned by Vad: */
  background-size: cover;
  display: inline;
  float: left;
}
.info{
  width: 600px;
  height: 200px;
  margin-left: 240px;

}
.social{
    margin-top: 50px;
    width: 200px;
    
}
.publications{
    margin-top: 50px;
    margin-right: 8%;
    margin-left: 5%;
    list-style-type: none;
    text-align: justify;
    text-justify: inter-word;

}
.publications li{
    margin: 10px 0;
    margin-left: 3%;
}
